.fondo__contacto{
    background-image: url(../../imagenes/ea60bf7c4a272dc48155da379de73fc7.jpg);
    padding-bottom: 0rem;
}
.formulario__contacto{
    display: flex;
    justify-content: center;
}
.forms__color{
    color: white;
    display: flex;
    align-items: center;
}
.hola{
    display: flex;
    align-items: center;
    border: 3px rgb(255, 255, 255) solid;
    border-radius: 25px;
}
.form__consulta{
    height: 300px;
    width: 500px;
    display: flex;
    align-items: center;
    border: 3px rgb(0, 0, 0) solid;
    border-radius: 25px;
}
.header__nav__contacto{
    padding-left: 85rem;
}
.logo__bold__incio__contacto{
    font-size: 3rem;
    font-weight: bolder;
}
.logo__inicio__contacto{


    color: #faf5f5;
    text-decoration: none;
    font-size: 3rem;
    margin-left: 75rem;
    font-weight: 300;
    color: orange;
}
.contacto__logo__contacto{
    display: flex;
    justify-content: center;
    color: orange;
    text-decoration: none;
    font-size: 5rem;
}
.parrafo__logo__contacto{
    display: flex;
    justify-content: center;
    color: white;
}