html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #e1e2e1;
    min-height: 100%;
}
.logo__inicio{
    color: #ffffff;
    text-decoration: none;
    font-size: 3rem;
    margin-left: 75rem;
    font-weight: 300;

    @include mobile{
        display: flex;
        justify-content: center;
        margin: 1rem;
        font-size: 45px;
    }

    @include laptop{
        display: flex;
        justify-content: center;
        margin: 1rem;
        font-size: 45px;
    }
}
.header__nav{
    margin-left: 80rem;
}
.logo{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 3rem;
}
li{
    list-style: none;
    display: inline;
}
.logo__bold__incio{
    font-size: 3rem;
    font-weight: bolder;
}
footer{
    margin-top: auto;
}
.footer__logo{
    font-size: 3rem;
    font-weight: 300;
    margin-left: 5px;
    padding-top: 1rem;
    content: auto;
    transition: 0.5s;

    @include mobile{
        display: flex;
        justify-content: center;
        font-size: 40px;
    }

    @include laptop{
        display: flex;
        justify-content: center;
    }
}
.footer__logo:hover{
    color: #e65454;
}  
.footer__nav__nosotros{
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s
    
}


.footer__nav__nosotros:hover{
    color: #e65454;
}  
.footer__nav__contacto{
text-decoration: none;
color: #ffffff;
transition: 0.5s

}

.footer__nav__contacto:hover{
    color: #e65454;
}  
.footer__nav__noticias{
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
}

.footer__nav__noticias:hover{
    color: #e65454;
}  
.contenedor{
    padding-bottom: 0,4rem;
    background-color: #000000;
}
.logo__bold{
    font-weight: 700;
}
.hover_animation{
    margin-top: 0rem;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    }
    .hover_animation::before,
    .hover_animation::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #e65454;
    transform: scalex(0);
    transition: transform .25s;
    }
    
    .hover_animation::before{
    top: -3px;
    transform-origin: left; 
    }
    
    .hover_animation::after{
    bottom: -3px;
    transform-origin: right;
    }
    
    .hover_animation:hover::before,
    .hover_animation:hover::after {
    transform: scalex(1);
    }