.fondo__index{
    background-image: url(../../imagenes/thumb-1920-447698.jpg) ;
    margin: 0%;
    padding-bottom: 5.05rem;
    background-size: cover;
    background-position: center;
}
.video__index{
    margin-left: 2rem;
    margin-top: 2rem;
    width: 800px;
    height: 500px;
}
.header__frase{
    display: inline-block;
    padding-left: 5rem;
    margin-top: 15rem;
    font-weight: 900;
    
    }