
.fondo__index{
    background-image: url(../../imagenes/thumb-1920-447698.jpg) ;
    margin: 0;
    padding-bottom: 5.5rem;
    background-size: cover;
    background-position: center;}

.video__index{
    margin-left: 2rem;
    margin-top: 2rem;
    width: 800px;
    height: 500px;
    
    @include laptop{
        width: 950px;
        height: 700px;
    }
    @include tablet{
        width: 700px;
        height: 600px;
    }
    @include mobileL{
        width: 350px;
        height: 330px;
    }

    @include mobileM{
        width: 300px;
        height: 300px;
    }
    @include mobile{
        width: 200px;
        height: 300px;
    }
}


.header__frase{
    display: inline-block;
    padding-left: 5rem;
    margin-top: 15rem;
    font-weight: 900;
    @include laptop{
        margin-top: 1rem;
        font-size: 15px;
        padding: 0%;
        display: flex;
        justify-content: center;
    }
    @include mobile{
        display: flex;
        align-items: center;
        margin: 1rem;
        padding-left: 0;
        font-size: 13px;
    }



    }

.header__nav{
    display: flex;
    flex-direction: wrap;
    gap: 0.5rem;
    margin-top: 1rem;

    @include laptop{
        align-items: center;
        flex-direction: column;
        margin: 0%;
        gap: 0.5rem;
        font-size: 30px;
    }

    @include tablet{
        font-size: 20px;
    }
        @include mobile{
            align-items: center;
            flex-direction: column;
            margin: 0;
            gap: 0.2rem;

        }
    }


.index_nav{
    @include laptop{
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        font-size: 30px;
    }
    
    @include tablet{
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }
    @include mobile{
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }
}

.index__section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo_fotter_index{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;


    @include laptop{
        flex-direction: column;
    }


    @include tablet{
        flex-direction: column;
    }

    @include mobileL{
        flex-direction: column;
    }



    @include mobileM{
        flex-direction: column;
    }


    @include mobile{
        flex-direction: column;
    }
    }
