.fondo{
    background-image: url(../../imagenes/Red-Bull-Racing-F14.jpg);
    
}
.header__div__nosotros{
    margin-bottom: 2rem;
}
.contacto__logo__nosotros{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding-left: 47rem;
    margin-top: 10rem;
    font-size: 5rem; 
}
.parrafo__logo__nosotros{
    color: white;
    margin-bottom: 13rem;
    background-color: hsla(0, 0%, 0%, 0.466);
}
