.fondo__noticias{
    background-image: url(../../imagenes/67214.jpg);
}
    .header__div__noticias{
        padding-bottom: 20rem;


        @include laptop{
            padding: 0%;
            margin: 2rem;
        }
    }
    .logo__inicio__noticia{
        color: orange;
        text-decoration: none;
        font-size: 3rem;
        margin-left: 75rem;
        font-weight: 300;

        @include laptop{
            margin: 1rem;
            padding: 0%;
            display: flex;
            justify-content: center;
        }
    }
    .noticia__amarok {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 0px;

        @include laptop{
        margin-bottom: 10rem;
        }


        @include mobileL{
            display: flex;
            flex-direction: column;
        }

        @include mobileM{
            display: flex;
            flex-direction: column;
        }

        @include mobile{
            display: flex;
            flex-direction: column;
        }

        
        }
        .noticia__amarok__texto { grid-area: 1 / 1 / 2 / 2;
            margin: 1rem;
            color: #ffffff;
            font-size: 500;
            background-color: #00000065;

            @include laptop{
                margin: 1rem;
            }
            @include tablet{
                margin-bottom: 11rem;
            }
        
            }
            .noticia__amarok__imagen { grid-area: 1 / 2 / 2 / 3; 
                padding-left: 3rem ;
                width: 200px;


                @include laptop{
                    margin: 1rem;
                    width: 100px;
                    height: 10px;
                    position: relative;
                }

                @include mobileL{
                    display: flex;
                    margin: 0;
                    padding: 0;
                    margin-left: 2rem;
                }


                @include mobileM{
                    display: flex;
                    margin: 0;
                    padding: 0;
                    margin-left: 2rem;
                }

                @include mobile{
                    display: flex;
                    margin: 0;
                    padding: 0;
                    margin-left: 2rem;
                }

                }
            

            .fotter__menu{
                @include laptop{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 20px;
                }
            }

.footer__logo2{
    @include laptop{
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
.contenedor2{   
    background-color: #000000;
    padding-bottom: 2rem;


    @include laptop{
            background-color: #000000;
            padding-bottom: 2rem;
    }

    @include mobileL{
        margin-top: 15rem;
    }

    @include mobileM{
        margin-top: 15rem;
    }
    @include mobile{
        margin-top: 15rem;
    }
}

.img2{  

    @include laptop{
        width: 400px;
        height: 300px;
    }

    @include tablet{
        width: 300px;
        height: 200px;
    }
    @include mobile{
        display: flex;
        padding-right: 5rem;
    }
}

.logo22{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 2rem;
}