.fondo__noticias{
    background-image: url(../../imagenes/67214.jpg);}

    .header__div__noticias{
        padding-bottom: 20rem;
    }
    .logo__inicio__noticia{
        color: orange;
        text-decoration: none;
        font-size: 3rem;
        margin-left: 75rem;
        font-weight: 300;
    }
    .noticia__amarok {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 0px;
        }
        .noticia__amarok__texto { grid-area: 1 / 1 / 2 / 2;
            color: #ffffff;
            font-size: 500;
            background-color: #00000065;
        
            }
            .noticia__amarok__imagen { grid-area: 1 / 2 / 2 / 3; 
                padding-left: 3rem ;
                width: 200px;
            }
            